  <div class="row">
    <div class="col-md-8 col-lg-6">
      <h3>Related Skills</h3>
      <ul>
        {% for skill in content.skills %}
        <li>{{ skill }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="owl-carousel portfolio-carousel">
        {% for work in content.work %}
        <article>
          <div>
            <img src="/images/{{ work.img }}">
            <div>
              <h3>{{ work.title }}</h3>
              <p>{{ work.description }}</p>
              <p><a href="{{ work.url }}" target="_blank" aria-label="Launch Project: {{ work.title }}">Launch Site</a></p>
              {# <div>{{ work.platform }}</div> #}
            </div>
          </div>
        </article>
        {% endfor %}
      </div>
  </div>
</div>
